$font-stack: Helvetica, sans-serif;

$primary-color: #333;

%flex-box-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
%button-settings {
    background-color: #fddd88;
    align-self: center;
    color: $primary-color;
    border: none;
    border-radius: 1rem;
}

* {
    margin: 0;
    padding: 0;
    size: 10px;
}

html {
    box-sizing: border-box;
}
main {
    @extend %flex-box-settings;
    width: 100%;
}

body {
    font: 100% $font-stack;
    color: $primary-color;
    width: 100%;
    height: 100vh;
    background-color: #dd8ea3;
}

header {
    width: 100%;
    height: 5rem;
    margin: 0;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

    nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    li {
        list-style: none;
        margin: 2rem;
    }
    a {
        text-decoration: none;
        font-size: 1.6rem;
    }
}

.drink {
    width: calc(100%-2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    img {
        width: 50%;
    }

    h2,
    button {
        margin: 20px;
    }

    button {
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        background-color: pink;
    }
}
