$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$mobile: "(max-width: 375px)";

%flex-box-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
%button-settings {
    background-color: #fddd88;
    align-self: center;
    color: $primary-color;
    border: none;
    border-radius: 1rem;
}
* {
    margin: 0;
    padding: 0;
    size: 10px;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
}
main {
    @extend %flex-box-settings;
    width: 100%;
}
section {
    padding: 20px;
}
body {
    font: 100% $font-stack;
    color: $primary-color;
    width: 100%;
    height: 100vh;
    background-color: #dd8ea3;
}
header {
    width: 100%;
    height: 5rem;
    margin: 0;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

    nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    ul {
        display: flex;
    }

    li {
        list-style: none;
        margin: 2rem;
    }
    a {
        text-decoration: none;
        font-size: 1.6rem;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }
}
@media screen and #{$mobile} {
    header {
        li {
            margin: 1rem;
        }
        a {
            font-size: 1.4rem;
        }
    }
}

.container {
    padding: 30px;
}

.drink {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 1px 14px 0px #b56489;
    margin-bottom: 30px;

    &:hover {
        box-shadow: 0px 1px 3px 0px #674253;
    }

    a {
        @extend %flex-box-settings;
        align-items: center;
        width: 100%;
        // border-radius: ;
    }
    img {
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    h2,
    button {
        margin: 20px;
    }

    button {
        padding: 10px 20px;
        border: 0;
        border-radius: 10px;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 1px;
        transition: 0.2s ease;
        margin: 20px 0;
        cursor: pointer;
        background-color: pink;
        box-shadow: 1px 1px 5px 0px #736060;

        &:hover {
            box-shadow: 0px 1px 3px 0px #292323;
        }
    }

    .unlike-btn {
        background-color: #ffd9e2;
        box-shadow: 0px 1px 3px 0px #292323;
    }
}

.title {
    text-align: center;
    margin: 30px;
}

.favorite-error {
    text-align: center;
    font-size: 2rem;
}
.error {
    text-align: center;
}
@media screen and (min-width: 800px) {
    .container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(400px, 0.3fr));
        grid-gap: 60px;
    }

    .drink {
        margin-bottom: 0;
    }
}
