/*** LOGIN ***/
.form-container form, .form-container, .login-form, .drink a, main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container form button {
  background-color: #fddd88;
  align-self: center;
  color: #333;
  border: none;
  border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  size: 10px;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

main {
  width: 100%;
}

section {
  padding: 20px;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  width: 100%;
  height: 100vh;
  background-color: #dd8ea3;
}

header {
  width: 100%;
  height: 5rem;
  margin: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin: 2rem;
}
header a {
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
}
header a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 375px) {
  header li {
    margin: 1rem;
  }
  header li {
    margin: 1rem;
  }
  header a {
    font-size: 1.4rem;
  }
}
.container {
  padding: 30px;
}

.drink {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 1px 14px 0px #b56489;
  margin-bottom: 30px;
}
.drink:hover {
  box-shadow: 0px 1px 3px 0px #674253;
}
.drink a {
  align-items: center;
  width: 100%;
}
.drink img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.drink h2,
.drink button {
  margin: 20px;
}
.drink button {
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  transition: 0.2s ease;
  margin: 20px 0;
  cursor: pointer;
  background-color: pink;
  box-shadow: 1px 1px 5px 0px #736060;
}
.drink button:hover {
  box-shadow: 0px 1px 3px 0px #292323;
}
.drink .unlike-btn {
  background-color: #ffd9e2;
  box-shadow: 0px 1px 3px 0px #292323;
}

.title {
  text-align: center;
  margin: 30px;
}

.favorite-error {
  text-align: center;
  font-size: 2rem;
}

.error {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 0.3fr));
    grid-gap: 60px;
  }

  .drink {
    margin-bottom: 0;
  }
}
.login-form {
  width: 100%;
  margin-top: 4rem;
}

.form-container {
  align-self: center;
  width: 22rem;
  height: 32rem;
  text-align: center;
  background-color: white;
  border-radius: 1rem;
}
.form-container h1 {
  font-weight: 700;
  font-size: 2.5rem;
}
.form-container form {
  align-self: center;
  margin: 2rem;
}
.form-container form div {
  margin-bottom: 0.5rem;
}
.form-container form label {
  font-size: 1.2rem;
  display: inline-block;
  width: 100%;
  text-align: left;
}
.form-container form input {
  width: 17rem;
  height: 2rem;
  margin-bottom: 0.7rem;
  outline: 0;
  border-width: 0 0 0.1rem;
  border-color: #424283;
}
.form-container form ::-moz-placeholder {
  font-size: 1.2rem;
}
.form-container form :-ms-input-placeholder {
  font-size: 1.2rem;
}
.form-container form ::placeholder {
  font-size: 1.2rem;
}
.form-container form input:focus {
  border-color: #dd8ea3;
}
.form-container form button {
  width: 15rem;
  height: 2.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.form-container a {
  text-decoration: none;
}
