.ingredients, .recipe-container, .drink a, main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  size: 10px;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

main {
  width: 100%;
}

section {
  padding: 20px;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  width: 100%;
  height: 100vh;
  background-color: #dd8ea3;
}

header {
  width: 100%;
  height: 5rem;
  margin: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin: 2rem;
}
header a {
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
}
header a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 375px) {
  header li {
    margin: 1rem;
  }
  header a {
    font-size: 1.4rem;
  }
}
.container {
  padding: 30px;
}

.drink {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 1px 14px 0px #b56489;
  margin-bottom: 30px;
}
.drink:hover {
  box-shadow: 0px 1px 3px 0px #674253;
}
.drink a {
  align-items: center;
  width: 100%;
}
.drink img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.drink h2,
.drink button {
  margin: 20px;
}
.drink button {
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  transition: 0.2s ease;
  margin: 20px 0;
  cursor: pointer;
  background-color: pink;
  box-shadow: 1px 1px 5px 0px #736060;
}
.drink button:hover {
  box-shadow: 0px 1px 3px 0px #292323;
}
.drink .unlike-btn {
  background-color: #ffd9e2;
  box-shadow: 0px 1px 3px 0px #292323;
}

.title {
  text-align: center;
  margin: 30px;
}

.favorite-error {
  text-align: center;
  font-size: 2rem;
}

.error {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 0.3fr));
    grid-gap: 60px;
  }

  .drink {
    margin-bottom: 0;
  }
}
.recipe-container {
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem;
}

.recipe-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe-img-container .recipe-img {
  width: 50%;
}

.ingredients {
  margin-bottom: 1rem;
  max-width: 500px;
  align-items: center;
}
.ingredients p {
  font-size: 1.4rem;
  margin-top: 0.2rem;
  text-align: center;
}
.ingredients h2,
.ingredients h3 {
  font-size: 2rem;
}

li {
  font-weight: 600;
  font-size: 1.4rem;
}
