.search-container, main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-container button {
  background-color: #fddd88;
  align-self: center;
  color: #333;
  border: none;
  border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  size: 10px;
}

html {
  box-sizing: border-box;
}

main {
  width: 100%;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  width: 100%;
  height: 100vh;
  background-color: #dd8ea3;
}

header {
  width: 100%;
  height: 5rem;
  margin: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
header li {
  list-style: none;
  margin: 2rem;
}
header a {
  text-decoration: none;
  font-size: 1.6rem;
}

@media screen and (max-width: 375px) {
  header li {
    margin: 1rem;
  }
  header a {
    font-size: 1.4rem;
  }
}
.drink {
  width: calc(100%-2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.drink img {
  width: 50%;
}
.drink h2,
.drink button {
  margin: 20px;
}
.drink button {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: pink;
}

.search-container {
  flex-direction: row;
  align-items: center;
  width: calc(100%-2rem);
  margin: 1rem;
}
.search-container button {
  border-radius: 0%;
  width: 5rem;
  height: 2rem;
  font-size: 1.2rem;
}

.search-form label {
  font-size: 1.6rem;
}
.search-form input {
  height: 2rem;
  margin: 1rem 0 1rem 0;
  border: none;
}
.search-form ::-moz-placeholder {
  text-align: center;
}
.search-form :-ms-input-placeholder {
  text-align: center;
}
.search-form ::placeholder {
  text-align: center;
}
