.search-container, .drink a, main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-container button {
  background-color: #fddd88;
  align-self: center;
  color: #333;
  border: none;
  border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  size: 10px;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

main {
  width: 100%;
}

section {
  padding: 20px;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  width: 100%;
  height: 100vh;
  background-color: #dd8ea3;
}

header {
  width: 100%;
  height: 5rem;
  margin: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin: 2rem;
}
header a {
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
}
header a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 375px) {
  header li {
    margin: 1rem;
  }
  header li {
    margin: 1rem;
  }
  header a {
    font-size: 1.4rem;
  }
}
.container {
  padding: 30px;
}

.drink {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 1px 14px 0px #b56489;
  margin-bottom: 30px;
}
.drink:hover {
  box-shadow: 0px 1px 3px 0px #674253;
}
.drink a {
  align-items: center;
  width: 100%;
}
.drink img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.drink h2,
.drink button {
  margin: 20px;
}
.drink button {
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  transition: 0.2s ease;
  margin: 20px 0;
  cursor: pointer;
  background-color: pink;
  box-shadow: 1px 1px 5px 0px #736060;
}
.drink button:hover {
  box-shadow: 0px 1px 3px 0px #292323;
}
.drink .unlike-btn {
  background-color: #ffd9e2;
  box-shadow: 0px 1px 3px 0px #292323;
}

.title {
  text-align: center;
  margin: 30px;
}

.favorite-error {
  text-align: center;
  font-size: 2rem;
}

.error {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 0.3fr));
    grid-gap: 60px;
  }

  .drink {
    margin-bottom: 0;
  }
}
.search-container {
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.search-container button {
  border-radius: 0%;
  height: 3rem;
  padding: 13px 20px;
  border: 0;
  border-radius: 0%;
  font-weight: bold;
  font-size: 100%;
  letter-spacing: 1px;
  transition: 0.2s ease;
  margin: 3rem 0;
  cursor: pointer;
  border-radius: 30em;
}
.search-container button:focus {
  outline: #b56489 solid 1px;
}

.search-form label {
  font-size: 1.6rem;
}
.search-form input {
  height: 3rem;
  margin: 1rem 5px 1rem 0;
  border: none;
  padding: 20px;
  border-radius: 30em;
  width: 50%;
  font-size: 100%;
}
.search-form input:focus {
  outline: #b56489 solid 1px;
}

.search-form-font {
background-image: url(https://lostragos.com/wp-content/themes/lostragos/inc/images/video-cover.jpg.webp);
width: 100%;
height: 10em;

}